[Unit]
Description=QSys keyboard interceptor
Requires=qsys-server.service
After=qsys-server.service

[Service]
Type=simple
User={{QSYS_USER}}
SupplementaryGroups=input
WorkingDirectory={{QSYS_ROOT}}
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=-{{QSYS_ENV_FILE}}
ExecStart={{QSYS_PYTHON}} {{QSYS_ROOT}}/interceptor.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
